:root{
    --radius-5px: 5px;
    --radius-10px: 10px;
    --radius-15px: 15px;
    --radius-20px: 20px;
    
    /*基础色: #ffffff 由浅入深*/
    --color-white-1: #ffffff;
    --color-white-1-1: #eeeeee;
    --color-white-1-2: #f2f2f2;
    --color-white-1-3: #F5F5F5;
    --color-white-1-4: #EFEFEF;
    --color-white-2: #d9d9d9;
    --color-white-3: #b3b3b3;
    --color-white-4: #8c8c8c;
    --color-white-5: #666666;
}
