$themes: (
    blue: (
        primary-bg: #1996E2,
        primary-color: #FF0,
        menu-bg: #41C4F8,
        menu-text-color: #F00,

        normal-size: 12px,
        big-size: 20px
    ),

    black: (
        primary-bg: #000,
        primary-color: #889955,
        menu-bg: #343346,
        menu-text-color: #FF0,

        normal-size: 20px,
        big-size: 40px
    )
)