@import './theme-var.scss';

@mixin def_all_theme {
    @each $theme-name, $theme-value in $themes {
        $theme-value: $theme-value !global;
        [data-theme="#{'' + $theme-name}"] & {
            @content;
        }
    }
}

//! 获取确定主题下指定样式的值
@function get_theme_value($key){
    @return map-get($theme-value, $key);
}

//! 获取指定颜色
@mixin color($color: 'primary-color') {
    @include def_all_theme{
        color: get_theme_value($color);
    }
}

//! 获取指定背景
@mixin bg($bg: 'primary-bg') {
    @include def_all_theme{
        background-color: get_theme_value($bg);
    }
}

//! 获取指定字号
@mixin fontSize($size: 'normal-size') {
    @include def_all_theme{
        font-size: get_theme_value($size);
    }
}



